aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
audioop-lts
CacheControl
cachetools
certifi
cffi
charset-normalizer
cryptography
discord.py
docstring_parser
firebase-admin
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-firestore
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
msgpack
multidict
numpy
packaging
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-dateutil
python-dotenv
requests
rsa
setuptools
shapely
six
sniffio
tenacity
typing-inspection
typing_extensions
uritemplate
urllib3
websockets
wheel
yarl